body {
	background-color: #f8f9fa
}

strong {display: inline !important;}

.card {
	background-color: #ffffff;
	width: 90%;
	max-width: 800px;
	margin: auto;
	padding: 30px;
	box-shadow: 0px 0px 5px;
	z-index: 1;
	font-family: 'EB Garamond';
	padding-top: 45px;
}

#header {
	width: 100%;
	text-align: center;
	height: 50px;
	padding: 10px;
	z-index: 3;
	position: relative;
}

#grouptable {
	text-align: center;
	border-top-style: solid;
}

td {
	padding-top: 10px;
}

#links, #announcement {
	text-align: center;
}

#announcement {
	background-color: #d43126;
	color: white;
}

.link {
	text-align: center;
	font-size: 24;
	margin: auto;
	width: 90%;
	height: 50px;
	line-height: 50px;
	border-style: solid;
	border-width: 1;
	cursor: pointer;

	transition: 0.3s;
}

#link-email:hover {
	background-color: #888888;
	color: white;
}
#link-instagram:hover {
	background-color: #fb5149;
	color: white;
}
#link-facebook:hover {
	background-color: blue;
	color: white;
}
#link-drive:hover {
	background-color: white;
	color: #d43126;
}

.indent {
	text-indent: 50px;
}